.payment-form-div {
    display: none;
}

@media print {
    body {
        margin: 0;
        padding: 0;
    }

    .driversls, .navbarlist {
        visibility: hidden;
        display: none;
    }
    
        /* this for CUBE.html */
        .spanlandscape {
            font-size: 18px;
            text-decoration: underline 0.5px solid;
            text-underline-offset: 2px;
    
        }

    .papersize {
        width: 170mm;
        /* A4 width */
        height: 255mm;
        /* A4 height */
        margin: 0 auto;
        margin-bottom: 55px;
        padding-top: 40px;
    }

    .span {
        font-size: 20px;
        text-decoration: underline 1.5px solid;
    }

    .pups {
        font-size: 19px;
        text-decoration: underline 1.5px solid;
    }

    .payment-form-div {
        display: block;
    }
}
body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #111827;
}
body div nav {
    background-color: #1f2937;
    color: #e5e7eb;
}
.btn{
    background-color: #1f2937;
    color: #e5e7eb;
}
body .driversls{
    background-color: #111827;
    color: #e5e7eb;
}
body .driversls h3{
    background-color: #111827;
    color: #e5e7eb;
}
.custom-dark-bg {
    background-color: #1f2937;
    color: white;
    /* optional: ensure text is readable */
}

.custom-dark-bg th{
    background-color: #4b5563;
    color: white;
}
.custom-dark-bg td {
    background-color: #111827;
    color: white;
}

.tablediv, .dropdown-menu{
    background-color: #1f2937;
}
.dropdown-menu li a{
    color: #e5e7eb;
}
.dropdown-menu li a:hover {
    color: #4b5563;
}
.font1 {
    font-size: 18px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.font2 {
    font-size: 16px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.font3 {
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.am {
    display: none;
}

.notActive {
    display: none;
}